nav {
  display: flex;
}
nav button {
  flex: 1;
}
.tab-panel {
  margin: 0 auto;
  padding: 2rem;
  max-width: 600px;
}
.tab-panel.hidden {
  display: none;
}
.exercise-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.exercise-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: #dadada;
}
.exercise-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.exercise-actions > div {
  display: flex;
  gap: 0.2rem;
}
.exercise-reorder {
  flex-direction: column;
}
.exercise-delete {
  background-color: #fee2e2;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1.1rem;
}
.muscles-item {
  font-size: 0.85rem;
  color: gray;
}
.exercise-description {
  display: flex;
  align-items: baseline;
  gap: 0.75rem;
}
.set-item {
  display: grid;
  grid-template-columns: 4em min-content 4em min-content min-content;
  gap: 0.5rem;
}
.set-item input {
  width: 100%;
}
.sets-area {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.set-add {
  border-top: 5px solid #b0b0b0;
  padding-top: 0.25rem;
}
.set-delete {
  background-color: #fee2e2;
}
.workout-header {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.workout-name {
  font-size: 2rem;
  min-width: 0;
  font-weight: bold;
  flex: 1;
  background: transparent;
}
.workout-delete {
  background-color: #fee2e2;
}
.workout-back {
  align-self: flex-end;
}
.workout-lifecycle {
  display: flex;
  justify-content: space-between;
}
.workout-exercises {
  display: flex;
  flex-direction: column;
}
.exercise-area {
  display: flex;
  flex-direction: column;
}
.exercise-add button {
  width: 100%;
}
.newSet {
  color: green;
}
.changedSet {
  color: yellow;
}
